@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}
/* Header starts */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #22202e;
}
.avion-logo p a {
  color: #22202e;
  font-weight: 300;
}
.header-icon i {
  margin-left: 10px;
}
.header-mobile {
  display: none;
}
.header-bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
.header-bottom ul li a {
  margin: 10px;
  color: #22202e;
  font-weight: 300;
}
.header-bottom {
  border-top: 1px solid gray;
}
.header-mobile-text {
  display: none;
}
/* Header ends */
.all-products {
  background-image: url("../img/backgroundimg.jpeg");
}

.products-description {
  padding: 30px 0px 10px 10px;
}

.products-description p {
  color: white;
  font-size: 18px;
}
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #22202e;
}
.lists {
  display: flex;
}
.sorting {
  display: flex;
}
.filter p {
  margin-right: 20px;
}
.lists-mobile {
  display: none;
}
.sorting-mobile {
  display: none;
}
.ceramics-cards {
  color: #22202e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ceramics-title {
  padding: 20px;
  margin-left: 53px;
}
.ceramics-title h3 {
  color: #22202e;
  font-weight: 400;
  margin-left: 55px;
}
.ceramics-cards div img {
  height: 250px;
  width: 200px;
}
.ceramics-cards div {
  margin-left: 20px;
}

.ceramics-mobile-cards {
  display: none;
}
.light-cards {
  color: #22202e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.light-cards div img {
  height: 250px;
  width: 200px;
}
.light-cards div {
  margin-left: 20px;
}
.ceramics-cards {
  color: #22202e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.ceramics-cards div img {
  height: 250px;
  width: 200px;
}
.ceramics-cards div {
  margin-left: 20px;
}
.ceramics-view {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.ceramics-view a {
  color: #2a254b;
  background-color: rgba(68, 33, 33, 0.037);
  padding: 15px 20px;
}
.ceramics-mobile-cards {
  display: none;
}
footer {
  background-color: #2a254b;
  color: white;
}

.footer-top {
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.footer-nav {
  display: flex;
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav div ul li {
  font-weight: 200;
}
.footer-nav div {
  margin-left: 70px;
}
footer form {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-top: -79px;
}
.for-input input {
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 0;
  padding: 5px;
}

.for-input input::placeholder {
  color: white;
}

.for-input input:focus {
  outline: none;
}

footer form label {
  margin-bottom: 5px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid white;
  width: 90%;
  margin-left: 60px;
  padding: 10px;
}
.footer-copy {
  margin-right: 430px;
}
.footer-icon i {
  margin-left: 5px;
}
.footer-mobile {
  display: none;
}
/* For responsive design */
@media screen and (max-width: 391px) {
  .header-top {
    display: flex;
  }
  .search-icon {
    display: none;
  }
  .header-icon {
    display: none;
  }
  .header-mobile{
    display: flex;
  }
  .header-mobile i {
    margin-left:10px;
  }
  .header-bottom {
    display: none;
  }
  .header-for-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #22202e;
  }
  .icon-for-mobile-header i {
    margin-left: 10px;
  }
  .products-description{
  text-align: center;
  padding-bottom: 20px;
  }
  .products-description p{
    font-size: 25px;
  }
  .lists,.sorting{
    display: none;
  }
  .filter{
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  .lists-mobile{
    display: flex;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.771);
    padding:25px 25px;
  }
  .sorting-mobile{
    display: flex;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.771);
    margin-left: 10px;
    padding: 25px 25px;
}
.ceramics-mobile-cards {
  display: flex;
  margin: 7px;
  color: #22202e;
}
.ceramics-mobile-cards div img {
  width: 200px;
  margin-right: 10px;
}
.bottom-card div img {
  padding: 5px;
  height: 250px;
  width: 180px;
}
.top-card div img {
  padding: 5px;
  height: 250px;
  width: 180px;
}
.light-cards {
  display: none;
}
.ceramics-title {
  margin-left: -50px;
}
.ceramics-cards {
  display: none;
}
.ceramics-mobile-cards {
  display: flex;
  margin: 7px;
  color: #22202e;
}
.ceramics-mobile-cards div img {
  width: 200px;
  margin-right: 10px;
}
.bottom-card div img {
  padding: 5px;
  height: 250px;
  width: 180px;
}
.top-card div img {
  padding: 5px;
  height: 250px;
  width: 180px;
}
.ceramics-view {
  padding: 20px;
}
.ceramics-view a {
  color: #22202e;
  text-align: center;
  width: 400px;
}
.footer-nav {
  display: none;
}
.footer-mobile {
  display: block;
}
.footer-list div ul li {
  font-weight: 300;
}
.footer-list {
  display: flex;
}

.footer-list div {
  margin-left: 50px;
}
.footer-form {
  display: none;
}
.footer-copany {
  margin-left: 50px;
  padding-top: 10px;
}
.footer-form {
  display: block;
  margin-top: 120px;
  margin-left: 50px;
  font-size: 25px;
}
.for-input {
  width: 500px;
}
.for-input input {
  padding: 10px;
  font-size: 15px;
}
.for-input button {
  padding: 10px;
}
.footer-menu {
  display: block;
  padding: 50px 0px;
}
.footer-bottom {
  width: 100%;
  color: #fff;
  margin: 0;
}
.footer-copy p {
  padding: 15px 0px;
}
.footer-top {
  padding: 0;
}
.footer-copy {
  margin: 0;
}
.footer-icon {
  display: none;
}
}